{% extends '_dashboard.html' %}
{% block dashboard_content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Order - Tracking</h1>
            {#            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
            {#                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
        </div>

        <!-- Content Row -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tracking Detail</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price (Rs.)</th>
                            <th>Order Id</th>
                            <th>Order By</th>
                            <th>Vendor</th>
                            <th>Image</th>
                            <th>Tracking</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order_item in order_items %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ order_item.product.title }}</td>
                                <td>{{ order_item.quantity }}</td>
                                <td>{{ order_item.price }}</td>
                                <td>{{ order_item.order.id }}</td>
                                <td>{{ order_item.created_by.username }}</td>
                                <td>{{ order_item.product.user.username }}</td>
                                <td><img alt="{{ order_item.product.title }}" src="{{ order_item.product.image.url }}"
                                         class="rounded mx-auto d-block"
                                         height="50" width="100"></td>
                                <td>{{ order_item.tracking_status }}</td>
                                <td><a class="btn btn-info btn-sm" style="color: white" href="{% url 'dashboard:tracking_update_form' order_item.id %} ">
{#                                      data-toggle="modal"#}
{#                                       data-target="#order{{ order_item.id }}" >#}
                                    <i class="fas fa-trash-alt">
                                    </i>
                                    Edit
                                </a></td>
                            </tr>
{#                            <div id="order{{ order_item.id }}" class="modal fade"#}
{#                                 role="dialog">#}
{#                                <div class="modal-dialog">#}
{#                                    <!-- Modal content-->#}
{#                                    <div class="modal-content">#}
{#                                        <div class="modal-header">#}
{#                                            <h4 class="modal-title" style="alignment: left">#}
{#                                                Update Tracking Status For "{{ order_item.product.title }}"</h4>#}
{#                                            <button type="button" class="close" data-dismiss="modal">#}
{#                                                &times;#}
{#                                            </button>#}
{#                                        </div>#}
{#                                        <div class="modal-body">#}
{#                                            <div class="modal-del-fo">#}
{#                                                <form method="post"#}
{#                                                      action="{% url 'dashboard:tracking_update_form' order_item.id %}">#}
{#                                                    {% csrf_token %}#}
{#                                                    <div class="form-row">#}
{#                                                        <label for="tracking_status">Tracking Status </label>#}
{#                                                        <select class="form-control select2" name="tracking_status">#}
{#                                                            {% for option in form.fields.tracking_status.choices %}#}
{#                                                                <option value="{{ option.0 }}"#}
{#                                                                        {% if  form.tracking_status.value == option.0 %}selected {% endif %}>{{ option.1 }}#}
{#                                                                </option>#}
{#                                                            {% endfor %}#}
{#                                                        </select>#}
{#                                                    </div>#}
{#                                                    <button type="submit" class="btn btn-info btn-sm">#}
{#                                                        Update#}
{#                                                    </button>#}
{#                                                    <button class="btn btn-info btn-sm"#}
{#                                                            data-dismiss="modal">Cancel#}
{#                                                    </button>#}
{#                                                </form>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
