{% extends 'core/base.html' %}

{% block title %}
  Welcome
{% endblock %} 

{% block content %}
 <div class="flex flex-wrap">
    {% for product in  products %} 
    <div class="product w-1/3 p-2">
        <div class="p-4 w-80  bg-gray-200">
            
            {% if product.image %}
            <div class="image mb-2 w-30 px-2 py-4">
              <a href="{% url 'product_detail' product.category.slug product.slug %}"><img src= "{{ product.image.url }}"alt="Image of {{ product.title }}"></a>

            </div>
            {% endif %}
          <h2 class="text-xl"><a href="{% url 'product_detail' product.category.slug product.slug %}">{{ product.title }}</a> </h2>
          <p class="text-s text-gray-600">Rs.{{ product.price }}</p>
          <hr class="mt-2 mb-2">
          
          {% if not request.user.is_superuser and not request.user.is_vendor %}
            <a href="{% url 'add_to_cart' product.id %}" class="inline-block px-2 py-2  flex items-center ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
              </svg>
            </a>  
            {% endif %}
            
          
        </div>
    </div>
    
    {% endfor %}
    
</div>
{% endblock %}

