{% extends 'core/base.html' %}

{% block title %}
{{product.title}}
{% endblock %} 

{% block content %}
{% if product.image %}
<div class="image mb-4">
    <img src= "{{ product.image.url }}"alt="Image of {{ product.title }}">

</div>
{% endif %}
<h1 class="text-2xl">{{product.title}}</h1>
<p class="text-s text-gray-500">
    Rs.{{product.price}}
    - 
    <a href="{% url 'vendor_detail' product.user.id %}">{% firstof product.user.get_full_name product.user.username %}</a>
</p>
    {% if product.get_rating > 0 %}
   <p class="mt-1 text-gray-500">Rating: {{product.get_rating }}/5</p>
    {% endif %}
   {% if product.description %} 
     <p class="mt-4">{{product.description}}</p>
    {% endif %}
    
        <a href="{% url 'add_to_cart' product.id %}" class="px-2 py-2 mb-2  flex items-center ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
              </svg>
        </a> 
        <a href="{% url 'checkout' %}" class="inline-block px-4 py-2 bg-teal-500 text-white">Order Now</a>  
        <div class="w-full mt-6">
            <h2 class="text-xl">Reviews</h2>
            {% if request.user.is_authenticated %} 
               <form method="post" action="." class="mb-6 mt-6 p-6 bg-teal-600 rounded-xl">
                 {% csrf_token %} 
                   <div>
                     <label>Rating</label><br>
                     <select name="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                     </select>
                   </div>
                   <div>
                     <label>Comment</label><br>
                     <textarea name="content"></textarea>
                   </div>
                   <div>
                     <button>Submit</button>
                   </div>
               </form>
            {% endif %}
            {% for review in product.reviews.all %} 
                <div class="px-4 py-6 bg-gray-200 rounded-xl mb-4">
                    <strong></strong>{{ review.created_by }}<br>
                    <strong>Rating: </strong>{{ review.rating }}/5<br>
                    <strong>Comment: </strong><br>
                    {{ review.content }}<br>
                    <strong>Date: </strong>{{ review.created_at|date:"Y-m-d" }}<br>
                    
                </div>
            {% endfor %} 
        </div>
    </a>
{% endblock %}